#main {
    position: fixed;
    top: 0;
    left: 0;

    height: 65px;
}

#logo {
    color: #f4f4f4;
}

ul {
    height: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 .5rem;
}

a {
    color: #f4f4f4;

    text-decoration: none;
}

.nav button {
    border: 1px solid #3d3d3d;
    background-color: #383b3f;
    box-shadow: none;
}

#btn-action button {
    width: 5rem;
}