<nav id="main" class="container-fluid bg-dark">
    <div class="row p-2 px-4">
        <div class="col-4">
            <a [routerLink]="['/']">
                <h2 id="logo">
                    <i class="bi bi-shield-lock-fill me-2"></i>
                    Auth
                </h2>
            </a>
        </div>
        <div class="col-8 text-end">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/releases']">Lançamentos</a>
                </li>
                <li id="btn-action" class="nav-item">
                    <button type="button" class="btn btn-primary px-3" data-bs-toggle="modal" data-bs-target="#login"
                        *ngIf="!authenticated">
                        Entrar
                    </button>
                    <button type="button" class="btn btn-primary px-3" *ngIf="authenticated" (click)="logout()">
                        Sair
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
<app-login-modal></app-login-modal>